<router-outlet></router-outlet>
<mat-toolbar color="primary">
    <span>Simple ToDo App</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span>Hello world</span>
</mat-toolbar>


<mat-grid-list cols="5" rowHeight="5:5">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
    <mat-grid-tile>7</mat-grid-tile>
    <mat-grid-tile>8</mat-grid-tile>
    <mat-grid-tile>9</mat-grid-tile>
    <mat-grid-tile>10</mat-grid-tile>
</mat-grid-list>
<h1>{{title}}</h1>

<div class="example-container">
    <mat-form-field>
        <input [(ngModel)]="title" matInput placeholder="Input">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>
</div>